In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Read the logs using pandas

In [2]:
df = pd.read_csv("logs_1000.csv", sep=',', header=None, \
                    names=["UserId", "Event", "StartTime", "EndTime"],\
                    parse_dates=[2, 3], infer_datetime_format=True)

In [3]:
# Read the data
df.head(15)

    UserId     Event           StartTime             EndTime
0        1        P1 2014-05-13 19:41:34                 NaT
1        1  P1M4L2A2 2014-05-13 22:24:13 2014-05-13 22:24:13
2        1  P1M4L2V3 2014-05-17 09:50:03 2014-05-17 11:50:03
3        1  P1M4L2V2 2014-05-18 04:49:28 2014-05-18 06:49:28
4        1  P1M4L2A1 2014-05-20 13:26:18 2014-05-20 13:26:18
5        1  P1M4L2A3 2014-05-22 06:37:51 2014-05-22 06:37:51
6        1  P1M4L2V1 2014-05-24 00:24:26 2014-05-24 02:24:26
7        1  P1M4L2S1 2014-05-24 21:36:31 2014-05-24 21:36:31
8        1  P1M4L2V2 2014-05-27 06:17:49 2014-05-27 08:17:49
9        1  P1M4L2A1 2014-05-31 16:36:33 2014-05-31 16:36:33
10       1  P1M4L2A1 2014-06-02 02:31:21 2014-06-02 02:31:21
11       1  P1M4L2V1 2014-06-03 19:36:43 2014-06-03 21:36:43
12       1  P1M4L2V1 2014-06-06 20:55:23 2014-06-06 22:55:23
13       1  P1M4L2A3 2014-06-08 09:27:14 2014-06-08 09:27:14
14       1  P1M4L2Q1 2014-06-11 17:06:56 2014-06-11 17:36:56

In [4]:
df.dropna(inplace=True)

- P Program
- M Module
- L Lesson
- A Additional Links
- Q Quiz
- V Video
- S Assignment
- F Final Assignment

#### Each program is 1 year, Each module lasts 3 months, each Lesson is 1 month
- Every lesson has 8 events.
- Quiz and Assignment only once
- Video is 2hr duration
- Quiz is 30min
- Additional links and Assignments, start and end time is same
- Timeframe chosen is 2013-2018

In [5]:
df[df["UserId"]==15].shape

(82, 4)

In [6]:
df.shape

(85395, 4)

In [7]:
df.dtypes

UserId                int64
Event                object
StartTime    datetime64[ns]
EndTime      datetime64[ns]
dtype: object

In [8]:
# Change the datatype of first column to integer
df["UserId"] = df["UserId"].astype(np.int64)

# To do
1. Transform into matrix
2. Viz

In [9]:
df.shape

(85395, 4)

In [10]:
"Q" in "Q23dsffs"

True

In [11]:
quizesDf = df[df.apply(lambda x: "Q" in x['Event'], axis=1)]

In [12]:
quizesDf.shape

(9151, 4)

In [13]:
quizesDf.head()

    UserId     Event           StartTime             EndTime
14       1  P1M4L2Q1 2014-06-11 17:06:56 2014-06-11 17:36:56
15       1  P1M4L1Q1 2014-06-12 22:54:21 2014-06-12 23:24:21
19       1  P1M4L3Q1 2014-07-20 00:57:46 2014-07-20 01:27:46
25       1  P1M3L2Q1 2014-08-16 09:21:15 2014-08-16 09:51:15
34       1  P1M3L3Q1 2014-09-17 03:24:32 2014-09-17 03:54:32

In [14]:
q = quizesDf["Event"].unique()

In [15]:
quizMatrix = pd.DataFrame(columns=np.append(np.array(["UserId"]), q))

In [16]:
quizMatrix.head()

Empty DataFrame
Columns: [UserId, P1M4L2Q1, P1M4L1Q1, P1M4L3Q1, P1M3L2Q1, P1M3L3Q1, P1M3L1Q1, P1M2L2Q1, P1M2L3Q1, P1M2L1Q1, P1M1L3Q1, P1M1L1Q1, P1M1L2Q1]
Index: []

In [17]:
grouped = quizesDf.groupby(by="UserId")

In [18]:
for userid, group in grouped:
    temDict = {"UserId": userid}
    for row in group.iterrows():
        temDict[row[1]["Event"]] = 1
    quizMatrix = quizMatrix.append(temDict, ignore_index=True)

In [19]:
quizMatrix.fillna(0, inplace=True)

In [40]:
# quizMatrix.loc[quizMatrix["UserId"] == 1,"P1M4L2Q1"] = 10

In [41]:
quizMatrix.head(100)

,UserId,P1M4L2Q1,P1M4L1Q1,P1M4L3Q1,P1M3L2Q1,P1M3L3Q1,P1M3L1Q1,P1M2L2Q1,P1M2L3Q1,P1M2L1Q1,P1M1L3Q1,P1M1L1Q1,P1M1L2Q1
0,1.0,10.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
1,2.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,3.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
3,4.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
4,5.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
5,6.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0
6,7.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
7,8.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
8,9.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
9,10.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
10,11.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0
11,12.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
12,13.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
13,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
14,15.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0
15,16.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0
16,17.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
17,18.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
18,19.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
19,20.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0
20,21.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0
21,22.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
22,23.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
23,24.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0
24,25.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
25,26.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0
26,27.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0
27,28.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0
28,29.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
29,30.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,71.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
71,72.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
72,73.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
73,74.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
74,75.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
75,76.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
76,77.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0
77,78.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
78,79.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
79,80.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0
80,81.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
81,82.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
82,83.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
83,84.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
84,85.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
85,86.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
86,87.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0
87,88.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
88,89.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
89,90.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
90,91.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0
91,92.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
92,93.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0
93,94.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0
94,95.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
95,96.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
96,97.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0
97,98.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
98,99.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
99,100.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

1. Matrix with scores (1 to 10), >5 is pass
2. Store scores in db

In [21]:
df_scores = pd.read_csv("quiz_scores_1000.csv", sep=',', header=None, \
                    names=["UserId", "Event", "Score"])

In [29]:
df_scores.head(11)

    UserId        Event  Score
0        1   P1M4L2Q1q1      1
1        1   P1M4L2Q1q2      0
2        1   P1M4L2Q1q3      1
3        1   P1M4L2Q1q4      1
4        1   P1M4L2Q1q5      1
5        1   P1M4L2Q1q6      1
6        1   P1M4L2Q1q7      0
7        1   P1M4L2Q1q8      1
8        1   P1M4L2Q1q9      1
9        1  P1M4L2Q1q10      1
10       1   P1M4L2Q1TS      8

In [36]:
df_scores_totalscores = df_scores[df_scores["Event"].apply(lambda event: "TS" in event)]

In [ ]:
for index, row in df_scores_totalscores.iterrows():
    quizMatrix.loc[quizMatrix["UserId"] == row["UserId"], row["Event"][:-2]] = row["Score"]

In [ ]:
quizMatrix.head(10)