In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Read the logs using pandas

In [9]:
df = pd.read_csv("EventLog1.txt", sep=',', header=None, \
                    names=["UserId", "Event", "StartTime", "EndTime"],\
                    parse_dates=[2, 3], infer_datetime_format=True)

In [10]:
# Read the data
df.head()

   UserId     Event           StartTime             EndTime
0    run:       NaN                 NaT                 NaT
1       1        P1 2014-09-09 18:47:36                 NaT
2    P1M1       NaN                 NaT                 NaT
3  P1M1L1       NaN                 NaT                 NaT
4       1  P1M1L1A1 2014-09-10 03:38:24 2014-09-10 03:38:24

In [11]:
df.dropna(inplace=True)

In [12]:
df.head()

  UserId     Event           StartTime             EndTime
4      1  P1M1L1A1 2014-09-10 03:38:24 2014-09-10 03:38:24
5      1  P1M1L1Q1 2014-09-14 01:54:02 2014-09-14 02:24:02
6      1  P1M1L1V3 2014-09-17 20:50:43 2014-09-17 22:50:43
7      1  P1M1L1S1 2014-09-21 06:58:08 2014-09-21 06:58:08
8      1  P1M1L1A3 2014-09-23 14:26:26 2014-09-23 14:26:26

In [13]:
df.shape

(8607, 4)

In [18]:
df.dtypes

UserId                int64
Event                object
StartTime    datetime64[ns]
EndTime      datetime64[ns]
dtype: object

In [17]:
# Change the datatype of first column to integer
df[["UserId"]] = df[["UserId"]].astype("int")