In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Read the logs using pandas

In [2]:
df = pd.read_csv("EventLog1.txt", sep=',', header=None, \
                    names=["UserId", "Event", "StartTime", "EndTime"],\
                    parse_dates=[2, 3], infer_datetime_format=True)

In [3]:
# Read the data
df.head(15)

    UserId     Event           StartTime             EndTime
0     run:       NaN                 NaT                 NaT
1        1        P1 2014-09-09 18:47:36                 NaT
2     P1M1       NaN                 NaT                 NaT
3   P1M1L1       NaN                 NaT                 NaT
4        1  P1M1L1A1 2014-09-10 03:38:24 2014-09-10 03:38:24
5        1  P1M1L1Q1 2014-09-14 01:54:02 2014-09-14 02:24:02
6        1  P1M1L1V3 2014-09-17 20:50:43 2014-09-17 22:50:43
7        1  P1M1L1S1 2014-09-21 06:58:08 2014-09-21 06:58:08
8        1  P1M1L1A3 2014-09-23 14:26:26 2014-09-23 14:26:26
9        1  P1M1L1V1 2014-09-28 19:27:37 2014-09-28 21:27:37
10       1  P1M1L1A2 2014-10-01 01:43:31 2014-10-01 01:43:31
11  P1M1L2       NaN                 NaT                 NaT
12       1  P1M1L2V3 2014-10-10 00:09:40 2014-10-10 02:09:40
13       1  P1M1L2A2 2014-10-11 15:00:49 2014-10-11 15:00:49
14       1  P1M1L2V1 2014-10-14 09:18:58 2014-10-14 11:18:58

In [4]:
df.dropna(inplace=True)

- P Program
- M Module
- L Lesson
- A Additional Links
- Q Quiz
- V Video
- S Assignment
- F Final Assignment

#### Each program is 1 year, Each module lasts 3 months, each Lesson is 1 month
- Every lesson has 8 events.
- Quiz and Assignment only once
- Video is 2hr duration
- Quiz is 30min
- Additional links and Assignments, start and end time is same
- Timeframe chosen is 2013-2018

In [5]:
df[df["UserId"]==15].shape

(0, 4)

In [6]:
df.sort_values(by=["StartTime"], ascending=False).head(100)

      UserId     Event           StartTime             EndTime
5053      48  P1M3L2V1 2018-01-28 07:43:13 2018-01-28 09:43:13
10295    100  P1M4L3Q1 2018-01-27 21:21:54 2018-01-27 21:51:54
4246      40  P1M4L1V2 2018-01-27 19:00:07 2018-01-27 21:00:07
4967      47  P1M3L2Q1 2018-01-27 16:07:49 2018-01-27 16:37:49
1522      14  P1M2L1A2 2018-01-27 13:33:47 2018-01-27 13:33:47
4245      40  P1M4L1V3 2018-01-27 12:56:24 2018-01-27 14:56:24
5569      54  P1M3L3Q1 2018-01-27 05:11:08 2018-01-27 05:41:08
4532      43  P1M1L1A2 2018-01-27 00:47:12 2018-01-27 00:47:12
1228      11  P1M3L2A1 2018-01-26 23:15:04 2018-01-26 23:15:04
4966      47  P1M3L2A2 2018-01-26 16:01:53 2018-01-26 16:01:53
7964      77  P1M4L2A2 2018-01-26 11:30:46 2018-01-26 11:30:46
10294    100  P1M4L3A1 2018-01-26 00:55:52 2018-01-26 00:55:52
5844      57  P1M1L2Q1 2018-01-25 01:27:42 2018-01-25 01:57:42
5052      48  P1M3L2S1 2018-01-25 00:03:26 2018-01-25 00:03:26
4244      40  P1M4L1A3 2018-01-24 09:57:16 2018-01-24 09:57:16
1521      14  P1M2L1A2 2018-01-24 09:29:56 2018-01-24 09:29:56
9123      88  P1M1L3V1 2018-01-24 02:24:17 2018-01-24 04:24:17
7467      72  P1M4L2A2 2018-01-24 00:50:02 2018-01-24 00:50:02
4531      43  P1M1L1Q1 2018-01-23 17:01:54 2018-01-23 17:31:54
5760      56  P1M2L1V1 2018-01-23 08:21:58 2018-01-23 10:21:58
7963      77  P1M4L2S1 2018-01-23 07:05:48 2018-01-23 07:05:48
5843      57  P1M1L2A2 2018-01-23 06:56:21 2018-01-23 06:56:21
4965      47  P1M3L2V2 2018-01-22 19:13:32 2018-01-22 21:13:32
10293    100  P1M4L3A2 2018-01-22 17:26:20 2018-01-22 17:26:20
5051      48  P1M3L2V2 2018-01-22 13:58:04 2018-01-22 15:58:04
4964      47  P1M3L2S1 2018-01-22 10:57:12 2018-01-22 10:57:12
4530      43  P1M1L1V2 2018-01-22 08:05:02 2018-01-22 10:05:02
10292    100  P1M4L3V3 2018-01-22 05:08:36 2018-01-22 07:08:36
7466      72  P1M4L2V3 2018-01-21 17:16:39 2018-01-21 19:16:39
1227      11  P1M3L2S1 2018-01-21 05:32:21 2018-01-21 05:32:21
...      ...       ...                 ...                 ...
5049      48  P1M3L2A2 2018-01-13 17:30:11 2018-01-13 17:30:11
9119      88  P1M1L2A3 2018-01-13 11:30:33 2018-01-13 11:30:33
1223      11  P1M3L2V3 2018-01-13 04:11:18 2018-01-13 06:11:18
4526      43  P1M1L1A2 2018-01-13 00:28:31 2018-01-13 00:28:31
4241      40  P1M4L1A3 2018-01-12 18:48:06 2018-01-12 18:48:06
3517      33  P1M3L1V2 2018-01-12 15:38:49 2018-01-12 17:38:49
10287    100  P1M4L3A3 2018-01-12 10:42:40 2018-01-12 10:42:40
4959      47  P1M3L3V3 2018-01-12 09:47:59 2018-01-12 11:47:59
9686      94  P1M3L3V2 2018-01-12 08:52:09 2018-01-12 10:52:09
5565      54  P1M3L1A1 2018-01-11 19:47:09 2018-01-11 19:47:09
5841      57  P1M1L2S1 2018-01-11 16:55:26 2018-01-11 16:55:26
10286    100  P1M4L3A2 2018-01-11 04:34:40 2018-01-11 04:34:40
1222      11  P1M3L2V1 2018-01-10 19:46:08 2018-01-10 21:46:08
4240      40  P1M4L1V1 2018-01-10 17:36:55 2018-01-10 19:36:55
9118      88  P1M1L2A1 2018-01-10 09:46:04 2018-01-10 09:46:04
5048      48  P1M3L2V1 2018-01-10 07:17:58 2018-01-10 09:17:58
5840      57  P1M1L2A3 2018-01-09 09:42:14 2018-01-09 09:42:14
4958      47  P1M3L3V1 2018-01-09 02:32:25 2018-01-09 04:32:25
6599      64  P1M3L2V2 2018-01-09 00:33:28 2018-01-09 02:33:28
5488      53  P1M3L1Q1 2018-01-08 21:17:04 2018-01-08 21:47:04
5756      56  P1M2L1A1 2018-01-08 15:17:45 2018-01-08 15:17:45
10285    100  P1M4L3A3 2018-01-08 12:33:11 2018-01-08 12:33:11
4523      43  P1M4L1A3 2018-01-08 05:19:22 2018-01-08 05:19:22
5047      48  P1M3L2A1 2018-01-08 04:36:03 2018-01-08 04:36:03
5170      50  P1M1L2V3 2018-01-08 01:24:54 2018-01-08 03:24:54
1515      14  P1M1L2V1 2018-01-07 22:07:16 2018-01-08 00:07:16
4957      47  P1M3L3Q1 2018-01-07 21:06:01 2018-01-07 21:36:01
5564      54  P1M3L1A3 2018-01-07 14:46:01 2018-01-07 14:46:01
1220      11  P1M3L3V2 2018-01-07 04:16:14 2018-01-07 06:16:14
5755      56  P1M2L1S1 2018-01-07 03:56:26 2018-01-07 03:56:26

[100 rows x 4 columns]

In [7]:
df.head(100)

    UserId     Event           StartTime             EndTime
4        1  P1M1L1A1 2014-09-10 03:38:24 2014-09-10 03:38:24
5        1  P1M1L1Q1 2014-09-14 01:54:02 2014-09-14 02:24:02
6        1  P1M1L1V3 2014-09-17 20:50:43 2014-09-17 22:50:43
7        1  P1M1L1S1 2014-09-21 06:58:08 2014-09-21 06:58:08
8        1  P1M1L1A3 2014-09-23 14:26:26 2014-09-23 14:26:26
9        1  P1M1L1V1 2014-09-28 19:27:37 2014-09-28 21:27:37
10       1  P1M1L1A2 2014-10-01 01:43:31 2014-10-01 01:43:31
12       1  P1M1L2V3 2014-10-10 00:09:40 2014-10-10 02:09:40
13       1  P1M1L2A2 2014-10-11 15:00:49 2014-10-11 15:00:49
14       1  P1M1L2V1 2014-10-14 09:18:58 2014-10-14 11:18:58
15       1  P1M1L2Q1 2014-10-15 18:21:56 2014-10-15 18:51:56
16       1  P1M1L2V2 2014-10-18 02:47:46 2014-10-18 04:47:46
17       1  P1M1L2V1 2014-10-18 23:15:22 2014-10-19 01:15:22
18       1  P1M1L2V1 2014-10-22 09:45:39 2014-10-22 11:45:39
19       1  P1M1L2A3 2014-10-23 15:24:45 2014-10-23 15:24:45
20       1  P1M1L2A1 2014-10-25 19:48:28 2014-10-25 19:48:28
21       1  P1M1L2S1 2014-10-30 10:03:50 2014-10-30 10:03:50
22       1  P1M1L2A1 2014-11-02 11:01:32 2014-11-02 11:01:32
23       1  P1M1L2V3 2014-11-03 06:56:44 2014-11-03 08:56:44
24       1  P1M1L2A1 2014-11-06 01:05:56 2014-11-06 01:05:56
26       1  P1M1L3Q1 2014-11-12 17:25:56 2014-11-12 17:55:56
27       1  P1M1L3A2 2014-11-20 04:23:34 2014-11-20 04:23:34
28       1  P1M1L3A1 2014-11-20 18:19:33 2014-11-20 18:19:33
29       1  P1M1L3V2 2014-12-05 16:03:32 2014-12-05 18:03:32
32       1  P1M4L2V1 2014-12-12 21:10:10 2014-12-12 23:10:10
33       1  P1M4L2A1 2014-12-16 19:27:37 2014-12-16 19:27:37
34       1  P1M4L2V3 2014-12-20 10:32:33 2014-12-20 12:32:33
35       1  P1M4L2A2 2014-12-24 10:46:49 2014-12-24 10:46:49
36       1  P1M4L2A2 2014-12-25 13:52:33 2014-12-25 13:52:33
37       1  P1M4L2A3 2014-12-30 09:36:16 2014-12-30 09:36:16
..     ...       ...                 ...                 ...
83       1  P1M2L2A3 2015-04-21 23:53:26 2015-04-21 23:53:26
84       1  P1M2L2S1 2015-04-23 22:19:22 2015-04-23 22:19:22
85       1  P1M2L2V1 2015-04-25 22:47:43 2015-04-26 00:47:43
86       1  P1M2L2A3 2015-05-02 12:23:27 2015-05-02 12:23:27
87       1  P1M2L2V3 2015-05-05 10:29:45 2015-05-05 12:29:45
89       1  P1M2L3A3 2015-05-10 14:33:01 2015-05-10 14:33:01
90       1  P1M2L3A3 2015-05-13 01:08:21 2015-05-13 01:08:21
91       1  P1M2L3A3 2015-05-18 11:18:02 2015-05-18 11:18:02
92       1  P1M2L3A2 2015-05-19 17:30:10 2015-05-19 17:30:10
93       1  P1M2L3A2 2015-05-22 22:03:31 2015-05-22 22:03:31
94       1  P1M2L3Q1 2015-05-28 11:44:17 2015-05-28 12:14:17
95       1  P1M2L3A3 2015-05-30 19:56:16 2015-05-30 19:56:16
96       1  P1M2L3A2 2015-06-02 19:34:33 2015-06-02 19:34:33
99       1  P1M3L3S1 2015-06-11 18:51:05 2015-06-11 18:51:05
100      1  P1M3L3V3 2015-06-16 06:03:49 2015-06-16 08:03:49
101      1  P1M3L3V1 2015-06-22 03:41:57 2015-06-22 05:41:57
102      1  P1M3L3Q1 2015-06-29 19:59:10 2015-06-29 20:29:10
104      1  P1M3L1A2 2015-07-08 22:13:23 2015-07-08 22:13:23
105      1  P1M3L1S1 2015-07-11 21:59:36 2015-07-11 21:59:36
106      1  P1M3L1A2 2015-07-13 19:27:41 2015-07-13 19:27:41
107      1  P1M3L1V3 2015-07-18 04:45:47 2015-07-18 06:45:47
108      1  P1M3L1Q1 2015-07-19 10:58:09 2015-07-19 11:28:09
109      1  P1M3L1A2 2015-07-26 12:06:17 2015-07-26 12:06:17
110      1  P1M3L1A2 2015-07-29 00:06:59 2015-07-29 00:06:59
111      1  P1M3L1V2 2015-08-03 16:29:58 2015-08-03 18:29:58
113      1  P1M3L2Q1 2015-08-06 15:51:25 2015-08-06 16:21:25
114      1  P1M3L2V2 2015-08-08 13:07:45 2015-08-08 15:07:45
115      1  P1M3L2A2 2015-08-13 16:07:06 2015-08-13 16:07:06
116      1  P1M3L2V2 2015-08-15 17:11:26 2015-08-15 19:11:26
117      1  P1M3L2A1 2015-08-16 23:12:13 2015-08-16 23:12:13

[100 rows x 4 columns]

In [8]:
df.shape

(8607, 4)

In [9]:
df.dtypes

UserId               object
Event                object
StartTime    datetime64[ns]
EndTime      datetime64[ns]
dtype: object

In [10]:
# Change the datatype of first column to integer
df["UserId"] = df["UserId"].astype(np.int64)

# To do
1. Transform into matrix
2. Viz

In [11]:
df.shape

(8607, 4)

In [15]:
"Q" in "Q23dsffs"

True

In [17]:
quizesDf = df[df.apply(lambda x: "Q" in x['Event'], axis=1)]

In [18]:
quizesDf.shape

(913, 4)

In [19]:
quizesDf.head()

    UserId     Event           StartTime             EndTime
5        1  P1M1L1Q1 2014-09-14 01:54:02 2014-09-14 02:24:02
15       1  P1M1L2Q1 2014-10-15 18:21:56 2014-10-15 18:51:56
26       1  P1M1L3Q1 2014-11-12 17:25:56 2014-11-12 17:55:56
40       1  P1M4L3Q1 2015-01-09 11:30:55 2015-01-09 12:00:55
61       1  P1M4L1Q1 2015-02-18 17:38:50 2015-02-18 18:08:50

In [40]:
q = quizesDf["Event"].unique()

In [65]:
quizMatrix = pd.DataFrame(columns=np.append(np.array(["UserId"]), q))

In [66]:
quizMatrix.head()

Empty DataFrame
Columns: [UserId, P1M1L1Q1, P1M1L2Q1, P1M1L3Q1, P1M4L3Q1, P1M4L1Q1, P1M2L1Q1, P1M2L3Q1, P1M3L3Q1, P1M3L1Q1, P1M3L2Q1, P1M2L2Q1, P1M4L2Q1]
Index: []

In [67]:
grouped = quizesDf.groupby(by="UserId")

In [72]:
for userid, group in grouped:
    temDict = {"UserId": userid}
    for row in group.iterrows():
        temDict[row[1]["Event"]] = 1
    quizMatrix = quizMatrix.append(temDict, ignore_index=True)

In [74]:
quizMatrix.head(100)

,UserId,P1M1L1Q1,P1M1L2Q1,P1M1L3Q1,P1M4L3Q1,P1M4L1Q1,P1M2L1Q1,P1M2L3Q1,P1M3L3Q1,P1M3L1Q1,P1M3L2Q1,P1M2L2Q1,P1M4L2Q1
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN
1,2.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,NaN,1.0,1.0,1.0
2,3.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,4.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,5.0,NaN,NaN,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0
5,6.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
6,7.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
7,8.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0
8,9.0,1.0,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0
9,10.0,1.0,1.0,1.0,NaN,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0
10,11.0,1.0,1.0,1.0,NaN,NaN,1.0,NaN,1.0,NaN,1.0,1.0,NaN
11,12.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
12,13.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
13,14.0,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
14,15.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,NaN
15,16.0,1.0,1.0,NaN,1.0,1.0,NaN,1.0,1.0,NaN,NaN,1.0,1.0
16,17.0,NaN,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN,1.0,1.0
17,18.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0
18,19.0,NaN,NaN,1.0,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0
19,20.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0
20,21.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,NaN
21,22.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
22,23.0,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0
23,24.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0
24,25.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
25,26.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN
26,27.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0
27,28.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0
28,29.0,1.0,NaN,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0
29,30.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,71.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0
70,72.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,1.0,NaN
71,73.0,NaN,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0
72,74.0,1.0,1.0,NaN,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0
73,75.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
74,76.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0
75,77.0,NaN,NaN,NaN,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN
76,78.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0
77,79.0,1.0,1.0,NaN,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0
78,80.0,1.0,NaN,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0
79,81.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
80,82.0,1.0,NaN,NaN,NaN,1.0,NaN,1.0,1.0,1.0,NaN,1.0,1.0
81,83.0,NaN,1.0,1.0,NaN,1.0,NaN,1.0,1.0,NaN,1.0,1.0,1.0
82,84.0,NaN,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
83,85.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,NaN
84,86.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0
85,87.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,NaN,1.0,1.0,1.0
86,88.0,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0
87,89.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
88,90.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0
89,91.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,NaN,1.0
90,92.0,1.0,1.0,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0
91,93.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN
92,94.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
93,95.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
94,96.0,1.0,NaN,1.0,NaN,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0
95,97.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
96,98.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
97,99.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,NaN
98,100.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0