# Learning Path Recommender System

In [17]:
# importing all the required modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# following functions are loaded from surprise module
from surprise import NormalPredictor
from surprise import Reader
from surprise import SVD
from surprise import Dataset, evaluate
from surprise.model_selection import cross_validate
from sklearn.metrics import accuracy_score
%matplotlib inline

### Reading the dataset

Here we will read the logs into DataFrame from pandas library

In [18]:
# Read the dataset into pandas data frame
logs_df = pd.read_csv("logs_1000.csv", sep=',', header=None, \
                    names=["UserId", "Event", "StartTime", "EndTime"],\
                    parse_dates=[2, 3], infer_datetime_format=True)

Lets find out the number of rows/events we got

In [19]:
# Print the number of rows in the data frame
number_of_events = logs_df.shape[0]
print("This Log file has {} rows/events".format(number_of_events))

This Log file has 86395 rows/events

Lets check the structure of the DataFrame

In [20]:
# Print the logs_df information
logs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86395 entries, 0 to 86394
Data columns (total 4 columns):
UserId       86395 non-null int64
Event        86395 non-null object
StartTime    86395 non-null datetime64[ns]
EndTime      85395 non-null datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(1)
memory usage: 2.6+ MB

Check the data, by calling head function on the dataframe

In [21]:
# Displaying top 10 rows of dataframe
logs_df.head(10)

   UserId     Event           StartTime             EndTime
0       1        P1 2014-05-13 19:41:34                 NaT
1       1  P1M4L2A2 2014-05-13 22:24:13 2014-05-13 22:24:13
2       1  P1M4L2V3 2014-05-17 09:50:03 2014-05-17 11:50:03
3       1  P1M4L2V2 2014-05-18 04:49:28 2014-05-18 06:49:28
4       1  P1M4L2A1 2014-05-20 13:26:18 2014-05-20 13:26:18
5       1  P1M4L2A3 2014-05-22 06:37:51 2014-05-22 06:37:51
6       1  P1M4L2V1 2014-05-24 00:24:26 2014-05-24 02:24:26
7       1  P1M4L2S1 2014-05-24 21:36:31 2014-05-24 21:36:31
8       1  P1M4L2V2 2014-05-27 06:17:49 2014-05-27 08:17:49
9       1  P1M4L2A1 2014-05-31 16:36:33 2014-05-31 16:36:33

### Column Definition
- UserId      : Unique ID given to a user/student
- Event       : The event name
- StartTime   : Start time of the event
- EndTime     : End time of the event

### Expanding the event acronym 

Following are the meaning of each letter
-    P Program
-    M Module
-    L Lesson
-    A Additional Links
-    Q Quiz
-    V Video
-    S Assignment
-    F Final Assignment

Ex: P1M4L2V2 = Event of Program 1, Module 4, Lesson 2, Video 2

#### More info on the events:

-    Every lesson has 8 events.
-    Quiz and Assignment occur only once
-    Video duration is 2hrs
-    Quiz duration is 30min
-    Additional links and Assignments, start and end time is same
-    Timeframe chosen is 2013-2018

### Data Cleaning

In [22]:
# Count number of null values
logs_df.isnull().sum()

UserId          0
Event           0
StartTime       0
EndTime      1000
dtype: int64

There are 1000 entries in the EndTime column which are Null. Lets check those entries

In [23]:
# Inspect the null values
logs_df[logs_df["EndTime"].isnull() == True]

       UserId Event           StartTime EndTime
0           1    P1 2014-05-13 19:41:34     NaT
109         2    P1 2016-12-29 20:40:51     NaT
183         3    P1 2013-08-16 14:07:05     NaT
277         4    P1 2017-09-22 04:37:38     NaT
315         5    P1 2017-04-17 00:22:53     NaT
392         6    P1 2014-02-09 18:42:12     NaT
487         7    P1 2013-12-03 02:05:17     NaT
593         8    P1 2014-10-16 16:18:08     NaT
697         9    P1 2017-10-12 04:17:19     NaT
731        10    P1 2013-02-10 13:43:13     NaT
837        11    P1 2014-12-14 08:57:33     NaT
931        12    P1 2014-03-13 12:47:22     NaT
1032       13    P1 2015-01-09 12:03:05     NaT
1134       14    P1 2017-10-25 23:27:40     NaT
1158       15    P1 2013-10-31 19:28:28     NaT
1241       16    P1 2014-08-02 05:09:44     NaT
1319       17    P1 2016-09-28 04:23:32     NaT
1403       18    P1 2016-01-21 19:19:34     NaT
1500       19    P1 2013-09-07 20:23:33     NaT
1607       20    P1 2013-12-10 14:37:17     NaT
1701       21    P1 2013-06-17 06:24:46     NaT
1796       22    P1 2014-10-22 18:17:24     NaT
1925       23    P1 2014-01-04 11:05:41     NaT
2026       24    P1 2015-09-20 18:33:22     NaT
2131       25    P1 2017-07-29 10:45:38     NaT
2181       26    P1 2015-12-02 00:22:41     NaT
2296       27    P1 2015-11-29 14:12:24     NaT
2392       28    P1 2013-03-09 14:18:44     NaT
2476       29    P1 2017-08-29 11:16:17     NaT
2527       30    P1 2015-11-26 08:34:39     NaT
...       ...   ...                 ...     ...
83691     971    P1 2017-03-31 00:43:26     NaT
83775     972    P1 2015-07-24 17:40:48     NaT
83876     973    P1 2014-09-06 08:43:22     NaT
83951     974    P1 2013-04-07 18:29:18     NaT
84044     975    P1 2016-07-30 16:02:34     NaT
84131     976    P1 2013-07-22 17:52:45     NaT
84221     977    P1 2015-09-27 03:05:44     NaT
84315     978    P1 2017-02-22 12:26:06     NaT
84401     979    P1 2015-12-01 01:42:13     NaT
84493     980    P1 2017-05-03 20:30:11     NaT
84552     981    P1 2015-02-14 18:23:36     NaT
84657     982    P1 2013-10-18 23:19:11     NaT
84757     983    P1 2016-01-17 14:24:35     NaT
84869     984    P1 2013-05-26 11:12:55     NaT
84950     985    P1 2013-06-26 17:01:49     NaT
85031     986    P1 2014-05-17 04:21:12     NaT
85123     987    P1 2014-05-17 13:52:43     NaT
85220     988    P1 2015-03-22 05:13:40     NaT
85315     989    P1 2016-06-04 12:48:33     NaT
85403     990    P1 2014-10-05 11:12:29     NaT
85494     991    P1 2016-11-06 15:35:54     NaT
85594     992    P1 2013-08-08 19:13:13     NaT
85687     993    P1 2016-01-08 21:38:49     NaT
85795     994    P1 2017-03-01 08:22:46     NaT
85888     995    P1 2016-12-27 11:24:54     NaT
85978     996    P1 2016-01-06 21:02:10     NaT
86077     997    P1 2014-03-08 19:58:20     NaT
86158     998    P1 2016-05-09 23:47:47     NaT
86236     999    P1 2017-06-10 18:07:13     NaT
86308    1000    P1 2015-07-16 21:21:08     NaT

[1000 rows x 4 columns]

The null entry in the EndTime column are the program start event. Since we will not be using that data for our recommender system, we shall drop those rows.

In [24]:
# Dropping the rows with null entries
logs_df.dropna(inplace=True)

In [25]:
# Number of rows dropped 
print("Total number of rows dropped: {}".format(number_of_events - logs_df.shape[0]))

Total number of rows dropped: 1000