In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
#!pip install scikit-surprise

http://surprise.readthedocs.io/en/stable/getting_started.html

In [8]:
from surprise import SVD
from surprise import Dataset, evaluate
from surprise.model_selection import cross_validate

In [4]:
# Load the movielens-100k dataset (download it if needed),
data = Dataset.load_builtin('ml-100k')

# We'll use the famous SVD algorithm.
algo = SVD()

Dataset ml-100k could not be found. Do you want to download it? [Y/n] y
Trying to download dataset from http://files.grouplens.org/datasets/movielens/ml-100k.zip...
Done! Dataset ml-100k has been saved to /home/dalonlobo/.surprise_data/ml-100k

In [9]:
evaluate(algo, data, measures=['RMSE', 'MAE'])

/home/dalonlobo/anaconda/lib/python3.6/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/home/dalonlobo/anaconda/lib/python3.6/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

Evaluating RMSE, MAE of algorithm SVD.

------------
Fold 1
RMSE: 0.9391
MAE:  0.7405
------------
Fold 2
RMSE: 0.9424
MAE:  0.7453
------------
Fold 3
RMSE: 0.9457
MAE:  0.7439
------------
Fold 4
RMSE: 0.9327
MAE:  0.7314
------------
Fold 5
RMSE: 0.9213
MAE:  0.7286
------------
------------
Mean RMSE: 0.9362
Mean MAE : 0.7379
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'mae': [0.74053864941209069,
                             0.74530180418441327,
                             0.74389232767567792,
                             0.73135927237325693,
                             0.72856101870475576],
                            'rmse': [0.93913312638007085,
                             0.94243953282709769,
                             0.94570802240726792,
                             0.93266221844619446,
                             0.92130292355070842]})

In [6]:
data.build_full_trainset()

0 	8 	4 	9 	9 	6 	6 	8 	9
1 	6 	5 	2 	2 	3 	4 	4 	3
2 	5 	3 	4 	4 	4 	6 	5 	4
3 	8 	0 	3 	3 	6 	5 	4 	3
4 	0 	0 	0 	0 	0 	0 	0 	0

In [36]:
df  = pd.read_csv("SVD_Data_1.csv")

In [37]:
df.head(100)

,Basic_Stats_score,Inferential_Stats_score,Linear_Reg_score,Logistic_Reg_score,DT_score,NB_score,SVM_score,KM_Clustering_score
0,8,4,9,9,6,6,8,9
1,6,5,2,2,3,4,4,3
2,5,3,4,4,4,6,5,4
3,8,0,3,3,6,5,4,3
4,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,6,4
6,0,0,0,0,0,0,0,0
7,6,0,3,3,5,5,3,4
8,0,0,0,0,0,0,0,0
9,6,4,5,3,5,7,5,3
10,9,7,8,8,5,6,8,8
11,8,5,6,4,5,8,4,3
12,7,5,3,5,6,6,3,5
13,0,3,2,2,6,5,3,2
14,5,3,2,1,4,4,4,3
15,4,3,3,2,4,6,3,2
16,6,3,3,2,5,5,4,3
17,6,4,4,4,5,6,5,4
18,0,0,0,0,0,0,0,0
19,6,1,3,4,4,6,4,3
20,8,0,6,6,7,6,5,7
21,0,0,0,0,0,0,4,3
22,0,0,4,2,5,6,2,3
23,3,2,6,3,8,8,4,3
24,0,0,4,5,4,5,3,5
25,9,0,9,9,7,8,9,9
26,6,0,4,1,5,6,3,2

In [38]:
quiz = []
user = []
score = []
for row in df.iterrows():
    for index, val in row[1].iteritems():
        if val != 0:
            quiz.append(index)
            user.append(row[0])
            score.append(val)

In [39]:
import pandas as pd
from surprise import NormalPredictor
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import cross_validate


# Creation of the dataframe. Column names are irrelevant.
ratings_dict = {'itemID': quiz,
                'userID': user,
                'rating': score}
df_1 = pd.DataFrame(ratings_dict)

# A reader is still needed but only the rating_scale param is requiered.
reader = Reader(rating_scale=(1, 10))

# The columns must correspond to user id, item id and ratings (in that order).
data = Dataset.load_from_df(df_1[['userID', 'itemID', 'rating']], reader)

In [40]:
algo = SVD()

# Retrieve the trainset.
trainset = data.build_full_trainset()
algo.fit(trainset)

 [ 5.84923656  3.6480802   4.58421217  4.1307881   5.11488531  5.90071833
   4.75008146  4.22995128]

In [41]:
df.columns

Index(['Basic_Stats_score', 'Inferential_Stats_score', 'Linear_Reg_score',
       'Logistic_Reg_score', 'DT_score', 'NB_score', 'SVM_score',
       'KM_Clustering_score'],
      dtype='object')

In [42]:
for col in df.columns:
    # Predict a certain item
    userid = str(5)
    itemid = col
    actual_rating = 0
    print(algo.predict(userid, itemid, actual_rating))

user: 5          item: Basic_Stats_score r_ui = 0.00   est = 6.00   {'was_impossible': False}
user: 5          item: Inferential_Stats_score r_ui = 0.00   est = 4.08   {'was_impossible': False}
user: 5          item: Linear_Reg_score r_ui = 0.00   est = 4.51   {'was_impossible': False}
user: 5          item: Logistic_Reg_score r_ui = 0.00   est = 4.06   {'was_impossible': False}
user: 5          item: DT_score   r_ui = 0.00   est = 5.14   {'was_impossible': False}
user: 5          item: NB_score   r_ui = 0.00   est = 5.72   {'was_impossible': False}
user: 5          item: SVM_score  r_ui = 0.00   est = 4.50   {'was_impossible': False}
user: 5          item: KM_Clustering_score r_ui = 0.00   est = 4.23   {'was_impossible': False}

In [ ]:

# # Unzip ml-100k.zip
# zipfile = zipfile.ZipFile('ml-100k.zip', 'r')
# zipfile.extractall()
# zipfile.close()

# # Read data into an array of strings
# with open('./ml-100k/u.data') as f:
#     all_lines = f.readlines()

# # Prepare the data to be used in Surprise
# reader = Reader(line_format='user item rating timestamp', sep='\t')
# data = Dataset.load_from_file('./ml-100k/u.data', reader=reader)

# # Split the dataset into 5 folds and choose the algorithm
# data.split(n_folds=5)
# algo = SVD()

# # Train and test reporting the RMSE and MAE scores
# evaluate(algo, data, measures=['RMSE', 'MAE'])

# # Retrieve the trainset.
# trainset = data.build_full_trainset()
# algo.train(trainset)

# # Predict a certain item
# userid = str(196)
# itemid = str(302)
# actual_rating = 4
# print(algo.predict(userid, itemid, actual_rating))