In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
#!pip install scikit-surprise

http://surprise.readthedocs.io/en/stable/getting_started.html

In [3]:
from surprise import SVD
from surprise import Dataset, evaluate
from surprise.model_selection import cross_validate

In [4]:
# Load the movielens-100k dataset (download it if needed),
data = Dataset.load_builtin('ml-100k')

# We'll use the famous SVD algorithm.
algo = SVD()

In [5]:
evaluate(algo, data, measures=['RMSE', 'MAE'])

/home/dalonlobo/anaconda/lib/python3.6/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/home/dalonlobo/anaconda/lib/python3.6/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

Evaluating RMSE, MAE of algorithm SVD.

------------
Fold 1
RMSE: 0.9439
MAE:  0.7441
------------
Fold 2
RMSE: 0.9430
MAE:  0.7440
------------
Fold 3
RMSE: 0.9266
MAE:  0.7296
------------
Fold 4
RMSE: 0.9347
MAE:  0.7347
------------
Fold 5
RMSE: 0.9387
MAE:  0.7412
------------
------------
Mean RMSE: 0.9374
Mean MAE : 0.7387
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'mae': [0.74407594047592174,
                             0.74403425023505232,
                             0.72959614333301992,
                             0.73474820746221581,
                             0.74121816052642731],
                            'rmse': [0.94394669321920421,
                             0.94299945754156134,
                             0.92656330391811281,
                             0.93469775564098279,
                             0.93871740510646817]})

In [6]:
data.build_full_trainset()

0 	8 	4 	9 	9 	6 	6 	8 	9
1 	6 	5 	2 	2 	3 	4 	4 	3
2 	5 	3 	4 	4 	4 	6 	5 	4
3 	8 	0 	3 	3 	6 	5 	4 	3
4 	0 	0 	0 	0 	0 	0 	0 	0

In [7]:
df  = pd.read_csv("SVD_Data_1.csv")

In [16]:
df.head(10)

,Basic_Stats_score,Inferential_Stats_score,Linear_Reg_score,Logistic_Reg_score,DT_score,NB_score,SVM_score,KM_Clustering_score
0,8,4,9,9,6,6,8,9
1,6,5,2,2,3,4,4,3
2,5,3,4,4,4,6,5,4
3,8,0,3,3,6,5,4,3
4,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,6,4
6,0,0,0,0,0,0,0,0
7,6,0,3,3,5,5,3,4
8,0,0,0,0,0,0,0,0
9,6,4,5,3,5,7,5,3

In [9]:
quiz = []
user = []
score = []
for row in df.iterrows():
    for index, val in row[1].iteritems():
        if val != 0:
            quiz.append(index)
            user.append(row[0])
            score.append(val)

In [20]:
score

[8,
 4,
 9,
 9,
 6,
 6,
 8,
 9,
 6,
 5,
 2,
 2,
 3,
 4,
 4,
 3,
 5,
 3,
 4,
 4,
 4,
 6,
 5,
 4,
 8,
 3,
 3,
 6,
 5,
 4,
 3,
 6,
 4,
 6,
 3,
 3,
 5,
 5,
 3,
 4,
 6,
 4,
 5,
 3,
 5,
 7,
 5,
 3,
 9,
 7,
 8,
 8,
 5,
 6,
 8,
 8,
 8,
 5,
 6,
 4,
 5,
 8,
 4,
 3,
 7,
 5,
 3,
 5,
 6,
 6,
 3,
 5,
 3,
 2,
 2,
 6,
 5,
 3,
 2,
 5,
 3,
 2,
 1,
 4,
 4,
 4,
 3,
 4,
 3,
 3,
 2,
 4,
 6,
 3,
 2,
 6,
 3,
 3,
 2,
 5,
 5,
 4,
 3,
 6,
 4,
 4,
 4,
 5,
 6,
 5,
 4,
 6,
 1,
 3,
 4,
 4,
 6,
 4,
 3,
 8,
 6,
 6,
 7,
 6,
 5,
 7,
 4,
 3,
 4,
 2,
 5,
 6,
 2,
 3,
 3,
 2,
 6,
 3,
 8,
 8,
 4,
 3,
 4,
 5,
 4,
 5,
 3,
 5,
 9,
 9,
 9,
 7,
 8,
 9,
 9,
 6,
 4,
 1,
 5,
 6,
 3,
 2]

In [10]:
import pandas as pd
from surprise import NormalPredictor
from surprise import Dataset
from surprise import Reader
from surprise.model_selection import cross_validate


# Creation of the dataframe. Column names are irrelevant.
ratings_dict = {'itemID': quiz,
                'userID': user,
                'rating': score}
df_1 = pd.DataFrame(ratings_dict)

# A reader is still needed but only the rating_scale param is requiered.
reader = Reader(rating_scale=(1, 10))

# The columns must correspond to user id, item id and ratings (in that order).
data = Dataset.load_from_df(df_1[['userID', 'itemID', 'rating']], reader)

In [11]:
algo = SVD()

# Retrieve the trainset.
trainset = data.build_full_trainset()
algo.fit(trainset)

 [ 5.84923656  3.6480802   4.58421217  4.1307881   5.11488531  5.90071833
   4.75008146  4.22995128]

In [12]:
df.columns

Index(['Basic_Stats_score', 'Inferential_Stats_score', 'Linear_Reg_score',
       'Logistic_Reg_score', 'DT_score', 'NB_score', 'SVM_score',
       'KM_Clustering_score'],
      dtype='object')

In [13]:
for col in df.columns:
    # Predict a certain item
    userid = str(5)
    itemid = col
    actual_rating = 0
    print(algo.predict(userid, itemid, actual_rating))

user: 5          item: Basic_Stats_score r_ui = 0.00   est = 5.97   {'was_impossible': False}
user: 5          item: Inferential_Stats_score r_ui = 0.00   est = 4.09   {'was_impossible': False}
user: 5          item: Linear_Reg_score r_ui = 0.00   est = 4.55   {'was_impossible': False}
user: 5          item: Logistic_Reg_score r_ui = 0.00   est = 4.09   {'was_impossible': False}
user: 5          item: DT_score   r_ui = 0.00   est = 5.13   {'was_impossible': False}
user: 5          item: NB_score   r_ui = 0.00   est = 5.68   {'was_impossible': False}
user: 5          item: SVM_score  r_ui = 0.00   est = 4.53   {'was_impossible': False}
user: 5          item: KM_Clustering_score r_ui = 0.00   est = 4.30   {'was_impossible': False}

In [14]:

# # Unzip ml-100k.zip
# zipfile = zipfile.ZipFile('ml-100k.zip', 'r')
# zipfile.extractall()
# zipfile.close()

# # Read data into an array of strings
# with open('./ml-100k/u.data') as f:
#     all_lines = f.readlines()

# # Prepare the data to be used in Surprise
# reader = Reader(line_format='user item rating timestamp', sep='\t')
# data = Dataset.load_from_file('./ml-100k/u.data', reader=reader)

# # Split the dataset into 5 folds and choose the algorithm
# data.split(n_folds=5)
# algo = SVD()

# # Train and test reporting the RMSE and MAE scores
# evaluate(algo, data, measures=['RMSE', 'MAE'])

# # Retrieve the trainset.
# trainset = data.build_full_trainset()
# algo.train(trainset)

# # Predict a certain item
# userid = str(196)
# itemid = str(302)
# actual_rating = 4
# print(algo.predict(userid, itemid, actual_rating))